html{
	background-color:#f2f2f2 ;
	color:black;
	font-family: 'Exo', sans-serif;
	font-size:20px;
}
body{
	background-color:#f2f2f2 ;
	color:black;
	font-family: 'Exo', sans-serif;
	font-size:20px;
}

.jumbotron {
	width: 1000px;
	height: 117px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("background-kids-small.jpg");
	color: #ffffff;
	position: relative;
	top: 23px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#title {

	width: 800px;
	position: relative;
	left: 25px;
	top: -40px;

}

.col-heading{
	color:black;
	font-weight:bold !important;
}
.page {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;

}

.patient-list {
	padding-bottom:50px;
	position: relative;
	top: 10px;

}

.instance-list {

	position: relative;
	top: 20px;

}
.navbar{
	padding-top:50px;
	padding-bottom:50px;
	padding-left:30px;
	background-color:#E21C21;
}
.navbar-brand{
	padding-bottom: 40px;
	color:#fff !important;
	font-size:70px;
}
.navbar-default{
	margin-bottom:0px !important;
}
.main-container{
	background: #ffffff;;
	padding:50px;
	padding-bottom:300px;
	margin-left:-200px;
	margin-right:-200px;
}

.main-header{
	border-bottom: 5px solid #E21C21 !important;
	margin-bottom:50px;
	font-size:50px;
	color:#E21C21;
}

.instance-table {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 20px;
	max-height: 200px;
	overflow: scroll;
	border: 1px #ff3333 !important;
}
.small-heading{
	color:#ff3333;
	font-weight:bold;
	font-size:20px;
	padding-right:50px;
}
.text-warning{
	color:#E59122;
}
.logout{
	padding-right:70px;
	padding-bottom:0px;
	color:#fff;
	float:right;
	font-size:25px;
}
.sub-header{
	border-bottom: 3px solid #ff3333 !important;
	margin-bottom:50px;
	font-size:30px;
	color:#E21C21;
	padding-top:30px;
}
.logout:hover{
	color:#fff !important;
	opacity:0.8;
	text-decoration:none;
}
th, td {
	padding: 10px;
	border: 1px solid black;

}

#patient-info {

	position: relative;
	top: 60px;
	margin-bottom: 20px;

}

#instance-hr {

	border-color: black;

}